.cell {
	height: 100%;
	width: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 100%;
	width: 100%;
}
.X {
	font-size: 3rem;
	color: rgb(66, 64, 64);
	background-color: rgba(66, 64, 64, 0.267);
}
.O {
	color: rgba(221, 45, 45, 0.712);
	font-size: 3rem;
	background-color: rgba(221, 45, 45, 0.219);
}
