.board {
	height: 30rem;
	width: 50rem;
	margin: 10rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . ."
		". . ."
		". . .";
}
